<header>
  <h1>如影随形</h1>
  <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
  <div class="logo"><a href="/"></a></div>
  <nav id="topnav"><a href="index.php">首页</a>
  <a href="?m=Home&c=Article&a=artList&id=1">关于我</a>
  <a href="?m=Home&c=Article&a=artList&id=15">世事十载</a>
  <a href="?m=Home&c=Article&a=artList&id=3">登高望远</a>
  <a href="new.html">友情链接</a>
  {if isset($smarty.session.user)}
  <span>{$smarty.session.user.username}</span>
  <span>退出</span>
  {else}
  <span id="reg" >注册</span>
  <span id="login">登陆</span>
  {/if}
  </nav>
  
</header>
<script>
  window.onload=function(){
    document.getElementById('reg').onclick=function(){
      location.href='index.php?c=Login&a=register';
    }
    document.getElementById('login').onclick=function(){
      location.href='index.php?c=Login&a=login'
    }
  }
</script>
