<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
	<script src="./bootstrap/jquery.js"></script>
	<script src="./bootstrap/bootstrap.min.js"></script>
	<script src="function.js"></script>
</head>
<body>
  <?php
require_once './php/pratice.php';
 //var_dump($_POST);
 session_start();
if(isset($_SESSION['userid'])){
   $s_start="2017-02-04";
    $scday=date('z',strtotime($s_start));
  $today=date('z',time());
  $weekth=ceil(($today-$scday)/7);
  $nxweek=$weekth+1;
  }else{
  echo "<script>alert('非法访问'); location.href = './lindex.html'</script>";
}
?>
  <div class="container">
  <form action="" method="post" mutify enctype="multipart/form-data">
    <div class="col-sm-3 from-group">
      <label for="">选择日期</label>
      <input type="date" class="btn" name="date"></div>
    <div class="col-sm-3 form-group">
      <label for="" class="">选择楼层</label>

      <select name="floor" id="" class='btn' data-toggle="dropdown">
			
			<option value="0">全部</option>
			<option value=1>勤政楼</option>
			<option value="2">计科楼</option>
			<option value="3">物理南楼</option>
			<option value="4">化学北楼</option>
		</select>
    </div>
    <div class="col-sm-3 form-group">
      <label for="" class="">选择课时</label>

      <select name="course" id="" class='btn' data-toggle="dropdown">
			
			<option value="1">早上一二节</option>
			<option value="2">早上三四节</option>
			<option value="3">第三课时</option>
			<option value="4">第四课时</option>
			<option value="5">第五课时</option>
		</select>
    </div>

    <div class="col-sm-2 form-group"><input type="submit" name="submit" value="查询" class="btn btn-success btn-block "></div>
  </form>
  <table class="table table-striped">
    <tr>
      <td>教室ID</td>
      <td>教室名称</td>
      <td>教室规模</td>
      <td>操作</td>
    </tr>
<?php
  //从表单中获取数据
  foreach($_POST as $key=>$value){
     $$key=$value;
  } 
  //  var_dump($_POST);
if(isset($_POST['submit'])){
  $receive=$_POST; 
  $r=new student();
  $r->Downprint($receive);
}
?>
  </table>
</div>
  
</body>
</html>
