<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <form action="?u=Admin&c=Admin&a=addhandle" method="post">
    <table>
      <tr>
        <td>姓名:</td>
        <td><input type="text" name='name'></td>
      </tr>
      <tr>
        <td>性别:</td>
        <td><input type="text" name='sex'></td>
      </tr>
      <tr>
        <td>年龄:</td>
        <td><input type="text" name='age'></td>
      </tr>
      <tr>
        <td>联系方式:</td>
        <td><input type="text" name='tel'></td>
      </tr>
      <tr>
        <td><input type="submit"></td>
        <td><input type="reset" ></td>
      </tr>
      
    </table>
    
  </form>
</body>
</html>
